@font-face {
  font-family: 'Arco';
  src: url('assets/font/ARCO.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Arial';
  overscroll-behavior: none;
  cursor: pointer;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 100%;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.terminal {
  position: absolute;
  top: -120px; /* initially hide the terminal above the viewport */
  transition: top 0.3s; /* smooth slide effect */
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.post-input {
  padding: 10px;
  color: #0f0;
  background-color: rgba(17, 17, 17, 0.7);
  border: 2px solid #0f0;
  outline: none;
  border-radius: 3px;
  width: 300px;
}

.publish-btn {
  margin-left: 65%;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #444;
  color: #0f0;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.publish-btn:hover {
  background-color: #555;
}

.toggle-tab {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 15px;
  background-color: #333;
  color: #0f0;
  cursor: pointer;
  border-radius: 3px;
  z-index: 100; /* Make sure it's above the terminal */
}

.toggle-tab:hover {
  background-color: #444;
}

.arrow {
  position: fixed;
  top: 75%;
  transform: translateY(-50%);
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  user-select: none;
}

#leftArrow {
  left: 1%;
}
#rightArrow {
  right: 1%;
}

#crabListOverlay {
	display: none;
}

#crabList {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: hidden;
  pointer-events: auto;
  z-index: 10;
  scroll-behavior: smooth;
}

.imageWrapper {
  width: 33%;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
}

.responsiveImage {
  width: 100%;
  height: auto;
  display: block;
}

.responsiveText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: #0f0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.likeButton {
  font-size: 3rem;
  background-color: #444;
}

.likesCount {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3rem;
  color: #0f0;
}

.selected {
    background-color: rgba(0, 255, 0, 0.5);  /* semi-transparent white */
    border-radius: 15px;  /* adjust as needed */
}
